body {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: #4a4a4a;
}

a:hover {
	text-decoration: none;
	
}

.zosia-section {
	padding: 48px 32px 48px 48px;
	display: flex;
	transition: 0.5s;
}

.header-name {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 600;
	font-size: 3.5em;
	color: #5abc7b;
}

.header {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 600;
	font-size: 2.5em;
}

.intro {
	font-size: 1.5em;
	font-weight: 400;
}
@media screen and (min-width: 540px) {
	.intro {
		font-size: 2em;
		font-weight: 400;
	}
}
