body {
	font-family: 'Open Sans', sans-serif;

}

.zosia-section {
	height: 100vh;
	background-color: #6fb1bc;
	display: flex;
	justify-content: center;
	padding: 20%;
	text-align: center;
	transition: 0.5s;
}

.intro {
	font-size: 1.5em;
	font-weight: 400;
}
@media screen and (min-width: 540px) {
	.intro {
		font-size: 2em;
		font-weight: 400;
	}
}

.scroll-logo {
	margin-top: 142px;
	cursor: pointer;
}
.scroll-logo:hover {
	transform: scale(0.95);
	transition: all 300ms;

}
